@font-face {
    font-family: 'SansationRegular';
    src: url('fonts/Sansation_Regular-webfont.eot');
    src: url('fonts/Sansation_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Regular-webfont.woff') format('woff'),
         url('fonts/Sansation_Regular-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Regular-webfont.svg#SansationRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SansationBold';
    src: url('fonts/Sansation_Bold-webfont.eot');
    src: url('fonts/Sansation_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Sansation_Bold-webfont.woff') format('woff'),
         url('fonts/Sansation_Bold-webfont.ttf') format('truetype'),
         url('fonts/Sansation_Bold-webfont.svg#SansationLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	height: 100%;
	width: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#552e24+0,5d382f+25,73534b+74,7c5e57+100 */
	/* https://css-tricks.com/css3-gradients/ */
	background: #552e24; /* Old browsers */
	background-image:
		linear-gradient(
			#552e24 0%,
			#5d382f 25%,
			#73534b 74%,
			#7c5e57 100%
		);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

body {
	text-align: left;
	font-family: SansationRegular, verdana;
	width: 90%;
	margin: auto;
	background:
		linear-gradient(
			to right,
			rgb(252,252,252) 0%,
			rgb(232,232,232) 40%,
			rgb(205,205,205) 100%
		); /* W3C */
	border-style: none solid none solid;
	border-color: black;
	border-width: 2px;
}

header {
	text-align: right;
}

#site_logo {
	background: #D4D4D4;
	background-image: url("images/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 201px;
	display: block;
	margin-right: 3px;
	text-shadow: 4px 2px 2px #7F7F7F;

}

#site_logo a:link{
	text-decoration: none;
	color: #000000;
	color: black;
}
#site_logo 	a:visited{
	color: black;
}

#search {
	display: block;
	position: absolute;
	top: 201px;
	right: 5%;
}

#main {
	padding-left: 2%;
	padding-right: 2%;
}

/* Make the navigation bar display horizontally */
#pages {
	text-align: left;
	background: rgb(254,204,177); /* Old browsers */
	background:
		linear-gradient(
			#552e24 0%,
			#5d382f 17%,
			#73534b 34%,
			#7c5e57 50%,
			#73534b 84%,
			#5d382f 93%,
			#552e24 100%);
/*	list-style-type: none;
	list-style-image: none;
*/
}

#pages ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	list-style-image: none;
	text-align:center;
	display: block;
	font-variant:small-caps;
	font-size: 16px;
	font-weight: bold;
}

#pages ul a:link {
	color: white;
	text-decoration: none;
}

#pages ul a:visited{
	color: white;
	text-decoration: none;
}

#pages ul a:hover{
	color: white;
	text-shadow: 1px 2px 1px black;
	border-bottom: 3px solid black;
}

#pages ul li {
	width: 130px;
	display: inline-block;
	position: relative;
	/*width: 125px;*/
	padding-top: 4px;
	padding-bottom: 3px;
	margin-left: 0;
	padding-left: 0;
}

#pages ul li ul {
	display: none;
	margin: 0;
	padding: 3px;
}

#pages ul li:hover ul {
	display: block;
	position:absolute;
	top: 23px;
	z-index: 1;

	/*So as to restart the gradient when the new dropdown is started */
	background: rgb(254,204,177); /* Old browsers */
	background:
		linear-gradient(
			#552e24 0%,
			#5d382f 17%,
			#73534b 34%,
			#7c5e57 50%,
			#73534b 84%,
			#5d382f 93%,
			#552e24 100%);
}

#pages ul li ul li{
	margin: 0px;
	padding: 2px;
	border: 0px;
}

.postLink{
	text-decoration: none;
	color: black;
}

.postLink:hover{
	color: red;
}

.navigation { /*Want to have the Previous/Next entries on same line*/
	display: block;
}

.navigation #alignleft{
	display: block;
	float: left;
}

.navigation #alignright{
	display: block;
	float: right
}

.navigation #clearingBlock {
	clear: both;
}

footer {
	text-align: center;
}
